*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}



.search-icon{
    background-image: url();
}

.bg-orange{
    background-color: #FEE3CD;
}

.btn-orange{
    background-color: #F2740D !important;
}

.bg-blue{
    background-color: #CDE9FE;
}



.arka-plan1{
    background: linear-gradient(white, rgb(245, 209, 143));
}

.arka-plan2{
    background: linear-gradient(white, rgb(208, 208, 253));
}

.w-30{
    width: 200px;
}

.renk{
    background-color: #232629;
}

.text-orange{
    color: #F2740D;
}

.px-6{
    padding-inline: 200px;
}

.card-index:hover{
    transform: scale(1.2);
    transition: 1.3s all;
}

.left{
    margin-right: 1600px;
}

.yükseklik{
    height: 400px;
    text-align: start;
}

.yükseklik1{
    height: 200px;
    text-align: start;
}

.yükseklik3{
    height: 500px;
}

@media screen and (max-width: 500px){
    .card-index{
        font-size: 0.9rem;
        width: 100%;
        flex-wrap: wrap;

    }
}
    
.footer-left{
    width: 50%;
    
}

.footer-right{

    width: 30%;
}

.footer li{
    font-size: 0.8rem;
}

.footer a {
    text-decoration: none;
    color: rgb(160, 160, 160);
}


.footer {
    background-color: rgb(48, 48, 48);
}

.background{
    background: linear-gradient(white, rgb(48, 48, 48));
    height: 20%;
}

.fs-6{
    font-size: 5px;
}

/* * Login sayfası */

.header {
    text-align: center;
}

.content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-size: 80%;
}

.login {
    text-align: center;
}

.button-container{
    width: 375px;
    font-weight: bold;
}

.form-containers{
    margin: auto;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    width: 350px;
}

  
  #login-form label {
    display: block;
    margin-bottom: 5px;
    font-style: normal;
    font-size: large;
    border-radius: 5px;
    
}
  
  #login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 8px;
}
  
  #login-form input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;

  }
  
  #login-form input[type="submit"]:hover {
    background-color:blue;
}

#search{
    width: 800px;
}

.search-icon{
    background-image: url();
}

.bg-orange{
    background-color: #FEE3CD;
}

.btn-orange{
    background-color: #F2740D !important;
}

.bg-blue{
    background-color: #CDE9FE;
}



.fs-7{
    font-size: 12px;
    
}
.p{
    margin-right: 50px;
    text-align: center;
}

.center-text{
    text-align: center;
}

.container1{
    margin: auto;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    width: 350px;
}

.mt-7{
    margin-top: 250px;
}

@media screen and (max-width: 676px ){
.form-containers{
    width: 250px;
}
.button-container{
    width: 265px;
}
.container1{
    width: 350px;
}
}
    
a:hover {
    color: red;
 }

 /* ! Register */

.questions-home{
    border-radius: 10%;
    
}



.questions-home button{
    border: 0px;
    background-color: transparent;
    padding: 0;
}

.questions-home button:hover {
    text-decoration: underline;
}

.questions-home ul li{
    text-decoration: none;
    margin-bottom: 4px;
}


.questions-home ul li:hover{
    text-decoration: underline;
}


.questions {
    border-left: 1px solid #41464b;
}

.questions-buttons{

    border: 0px;
    border-right: 1px solid black;
    background-color: transparent;
    width: fit-content;
    text-align: center;


}

.questions-buttons:hover{
    background-color: rgba(128, 128, 128, 0.479);
}




.text-responsive {
    font-size: calc(100% + 0.1vw + 0.1vh);
  }



.sign-up{

    margin-bottom: 5%;
    margin-top: 5%;
    border: 1px solid black;

}


.list-items-register{
    margin-top: 20%;
}


.form-register{

    box-shadow: 0px 0px 30px 1px  rgba(0, 0, 0, 0.479);

}



#w-google:hover{
    background-color: transparent !important;
}

#w-github:hover{
    background-color: rgba(0, 0, 0, 0.747) !important;
}

#w-facebook:hover{
    background-color: blue !important;
}




