<footer class="footer d-flex flex-column text-light bg-dark justify-content-center align-items-center mt-5 mb-0">

    <div class="row w-100  justify-content-around mt-2 ">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 justify-content-around ">


        <div class="row justify-content-around  ">
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xxl-3 col-xl-3 ">
            <ul class="list-unstyled ">
              <h6 class=""><a href="" class="text-light">STACK OVERFLOW</a></h6>
              <li class=""><a href="" class="text-decoration-none text-light">Questions</a></li>
              <li><a href="" class="text-decoration-none text-light">Help</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xxl-3 col-xl-3">

            <ul class="list-unstyled">
              <h6 class=""><a href="" class="text-light">PRODUCTS</a></h6>
              <li><a href="" class="text-decoration-none text-light">Teams</a></li>
              <li><a href="" class="text-decoration-none text-light">Advertising</a></li>
              <li><a href="" class="text-decoration-none text-light">Collectives</a></li>
              <li><a href="" class="text-decoration-none text-light">Talent</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xxl-3 col-xl-3">
            <ul class="list-unstyled">
              <h6 class=""><a href="" class="text-light">COMPANY</a></h6>
              <li><a href="" class="text-decoration-none text-light">About</a></li>
              <li><a href="" class="text-decoration-none text-light">Press</a></li>
              <li><a href="" class="text-decoration-none text-light">Work Here</a></li>
              <li><a href="" class="text-decoration-none text-light">Legal</a></li>
              <li><a href="" class="text-decoration-none text-light">Privacy Policy</a></li>
              <li><a href="" class="text-decoration-none text-light">Terms of Service</a></li>
              <li><a href="" class="text-decoration-none text-light">Contact Us</a></li>
              <li><a href="" class="text-decoration-none text-light">Cookie Settings</a></li>
              <li><a href="" class="text-decoration-none text-light">Cookie Policy</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xxl-3 col-xl-3">
            <ul class="list-unstyled">
              <h6 class=""><a href="" class="text-light">STACK EXCHANGE NETWORK</a></h6>
              <li><a href="" class="text-decoration-none text-light">Technology</a></li>
              <li><a href="" class="text-decoration-none text-light">Culture & recreation</a></li>
              <li><a href="" class="text-decoration-none text-light">Life & arts</a></li>
              <li><a href="" class="text-decoration-none text-light">Science</a></li>
              <li><a href="" class="text-decoration-none text-light">Professional</a></li>
              <li><a href="" class="text-decoration-none text-light">Business</a></li>
              <li><a href="" class="text-decoration-none text-light">API</a></li>
              <li><a href="" class="text-decoration-none text-light">Data</a></li>
            </ul>
          </div>

        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 justify-content-around ">
        <div class="footer-right row justify-content-between w-100">
          <div class="col-12">
            <ul class=" row justify-content-between list-unstyled ">
              <li class="col-3"><a href="" class="text-decoration-none text-light">Facebook</a></li>
              <li class="col-3"><a href="" class="text-decoration-none text-light">Twitter</a></li>
              <li class="col-3"><a href="" class="text-decoration-none text-light">Lindkedin</a></li>
              <li class="col-3"><a href="" class="text-decoration-none text-light">İnstagram</a></li>
            </ul>
          </div>

          <small class="text-secondary">
            Site design / logo © 2023 Stack Exchange Inc; user contributions licensed under CC BY-SA. rev
            2023.9.25.43646
          </small>
        </div>
      </div>
    </div>


  </footer>

