{% extends "base.html" %}

{% block title %}Question{% endblock title %}

{% block content %}

<div class="container">
    <div class="questions-index justify-content-center row">

        {% include "./components/_questions.html" %}

        <div class="questions col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="titleTop justify-content-between row mb-3 ">
                <div class="col-xs-12 col-sm-12 col-md-7 mt-3">
                    <a class="text-decoration-none text-dark fs-5 " href="#">
                        <bold> {{sorular.title}} </bold>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 mt-3 text-end">
                    <button type="button" class="btn btn-primary w-100">Ask Question</button>
                </div>
            </div>
            <div class="titleBottom">
                <span class="m-3 mt-5 fs-6">Asked today</span>
                <span class="m-3 mt-5">Modified today</span>
                <span class="m-3 mt-5">Viewed {{sorular.viewed}} times</span>

            </div>
            <hr>
            <div class="row m-3">
                <div class="col-1 d-flex flex-column align-items-center">
                   <a href="{% url 'postlike' request.user.user_uuid sorular.id %}"> <button type="button" class="btn btn-light border border-2 rounded-5"><i
                            class="fs-1 fa-solid fa-caret-up"> </i></button></a>
                    <span class="m-3 fs-4"> {{sorular.like}} </span>
                    <a href="{% url 'dislike' request.user.user_uuid sorular.id %}"> <button type="button" class="btn btn-light border border-2 rounded-5"><i
                            class="fa-solid fa-caret-up fa-rotate-180 fs-1"></i></button></a>
                    <button type="button" class="btn btn-light m-3"><i
                            class="fs-4 fa-sharp fa-regular fa-bookmark"></i></button>
                    <a href=""><i class="fa-solid fa-clock-rotate-left text-dark "></i></a>
                </div>
                <div class="col-10">
                    <p> {{sorular.description}} </p>
                    <p> {{sorular.kodalanı}} </p>
                    {% for tag in sorular.tagleri.all %}
                    <a href="" class="fs-6 btn btn-info"> {{tag}} </a>
                    {% endfor %}

                    <div class="questionDetail mt-5 d-flex justify-content-between row">
                        <div class="linkContainer col-md-9">
                            <a class="text-decoration-none text-dark text-muted" href="">Share</a>
                            <a class="text-decoration-none text-dark text-muted" href="">Edit</a>
                            <a class="text-decoration-none text-dark text-muted" href="">Follow</a>
                        </div>
                        <div class="profileContainer col-md-3 d-flex justify-content-end">
                            <div class="w-75 profile p-2">
                                <p> {{sorular.createdAt}} </p>
                                <span><a href=""> {{sorular.user}} </a></span>
                                <small>rating</small>
                            </div>
                        </div>

                    </div>

<div class="comments">
    {% for yorum in yorumlar %}
        <p> {{yorum.description}} <a href={% url 'profile' user.user_uuid %}> {{yorum.user}} </a> <span> {{yorum.createdAt}} </span> </p>
    {% endfor %}
</div>

                   





<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add a comment
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Yorum yap</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
     

            <form action="{% url 'commentCreate' sorular.id %}" method="post" class="d-flex flex-column">
                {% csrf_token %}

                {{form2}}
            

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Paylaş</button>
        </form>
        </div>
      </div>
    </div>
  </div>


                </div>
            </div>
            <h3>Answers</h3>
<hr>
            {% for cevap in cevaplar %}
              
            
            <div class="row m-3">
                <div class="col-1 d-flex flex-column align-items-center">
                    <a href="{% url 'answerlike' request.user.user_uuid cevap.id %}"> <button type="button" class="btn btn-light border border-2 rounded-5"><i
                        class="fs-1 fa-solid fa-caret-up"> </i></button></a>
                <span class="m-3 fs-4"> {{cevap.like}} </span>
                <a href="{% url 'answerdislike' request.user.user_uuid cevap.id %}"> <button type="button" class="btn btn-light border border-2 rounded-5"><i
                        class="fa-solid fa-caret-up fa-rotate-180 fs-1"></i></button></a>
                <button type="button" class="btn btn-light m-3"><i
                        class="fs-4 fa-sharp fa-regular fa-bookmark"></i></button>
                <a href=""><i class="fa-solid fa-clock-rotate-left text-dark "></i></a>
                </div>
                <div class="col-10">
                    <p> {{cevap.description}} </p>
                    <p> {{cevap.kodalanı}} </p>
                    <p> {{cevap.id}} </p>


                    <div class="questionDetail mt-5 d-flex justify-content-between row">
                        <div class="linkContainer col-md-9">
                            <a class="text-decoration-none text-dark text-muted" href="">Share</a>
                            <a class="text-decoration-none text-dark text-muted" href="">Edit</a>
                            <a class="text-decoration-none text-dark text-muted" href="">Follow</a>
                        </div>
                        <div class="profileContainer col-md-3 d-flex justify-content-end">
                            <div class="w-75 profile p-2">
                                <p> {{cevap.createdAt}} </p>
                                <span><a href=""> {{cevap.user}} </a></span>
                                <small>rating</small>
                            </div>
                        </div>

                    </div>

                  
                    <div class="comments">
                        {% for yorum in yorumlar2 %}
                        {% if cevap.id == yorum.answer.id %}
                            <p> {{yorum.answer.id}} </p>
                            <p> {{yorum.description}} <a href={% url 'profile' user.user_uuid %}> {{yorum.user}} </a> <span> {{yorum.createdAt}} </span> </p>
                            {% endif %}
                            {% endfor %}
                    </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{cevap.id}}">
                        Add a comment
                      </button>
                    

 <!-- Modal -->
 <div class="modal fade" id="exampleModal{{cevap.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Yorum yap</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
     

            <form action="{% url 'commentCreate2' cevap.id sorular.id %}" method="post" class="d-flex flex-column">
                {% csrf_token %}

                {{form3}}
            

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Paylaş</button>
        </form>
        </div>
      </div>
    </div>
  </div>



                </div>
            </div>

<hr>
            {% endfor %}

            <h6 class="m-3">Related questions</h6>
            <div class="related p-3">
                <div class="relatedObject p-3 border border-2">
                    <span class="bg-success p-2 me-3 rounded-3 text-light">3432</span> <a class="text-decoration-none"
                        href="">Is Java "pass-by-reference" or "pass-by-value"</a>
                </div>
                <div class="relatedObject  p-3 border border-2">
                    <span class="bg-success p-2 me-3 rounded-3 text-light">3432</span> <a class="text-decoration-none"
                        href="">Is Java "pass-by-reference" or "pass-by-value"</a>
                </div>
                <div class="relatedObject  p-3 border border-2">
                    <span class="bg-success p-2 me-3 rounded-3 text-light">3432</span> <a class="text-decoration-none"
                        href="">Is Java "pass-by-reference" or "pass-by-value"</a>
                </div>
                <a class="d-flex justify-content-center text-decoration-none" href="">Load more question</a>
            </div>

            <div class="pageBottom p-3 ">
                <p>Know someone who can answer? Share a link to this <a class="text-decoration-none"
                        href="">question</a> via <a class="text-decoration-none" href="">email, </a><a
                        class="text-decoration-none" href="">Twitter</a> or
                    <a class="text-decoration-none" href="">Facebook</a>
                </p>
                <h5>Your Answer</h5>
                <form class="d-flex flex-column" action="{% url 'questionDetails' sorular.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-primary mt-3">Post Your Answer</button>
                </form>
                <p class="mt-4">Browse other questions tagged <a class="bg-info p-1 text-decoration-none"
                        href="">tags</a> or <a class="text-decoration-none" href="">ask your own question.</a></p>
            </div>
        </div>


    </div>
</div>




<script>
    
    CKEDITOR.replace('answer');  // 'id_content' alanı, CKEditor'ı etkinleştirmek istediğiniz form alanının ID'siyle değiştirilmelidir.
</script>

{% endblock content %}