{% extends "base.html" %}
{% load static %}

{% block title %}
  Post Oluşturma
{% endblock title %}

{% block content %}
<form class="d-flex flex-column" method="POST" action="{% url 'createpost' %}">
    {% csrf_token %}
    {{form}}
    <textarea  name="myeditor" placeholder="Product Details" class="form-control" rows="12" cols="50">
  
    </textarea>
    <button class="btn btn-dark" type="submit">Gönder</button>
</form>
  
  <script>
    window.onload = function() {
        CKEDITOR.replace('myeditor');
    };
  </script>

{% endblock content %}
