{% extends "base.html" %}

{% block content %}



<div class="row">
  <div class="col-7 mt-3">
    <div class="button-container">
      <div class="d-grid gap-2">
        <button class="btn btn-sm btn-secondary w-auto" type="button">Log in with Google
          <i class="fa-brands fa-google"></i>
        </button>
        <button class="btn btn-sm btn-dark w-auto" type="button">Log in with GitHub
          <i class="fa-brands fa-github"></i>
        </button>
        <button class="btn btn-sm btn-primary w-auto" type="button">Log in with Facebook
          <i class="fa-brands fa-square-facebook"></i>
        </button>
      </div>

    </div>

    <!-- <div class="duz-cerceve"> -->

    <div class="form-containers h-25 p-3 mb-5 bg-white rounded-3 mt-5">
      <div class="login rounded-3">
        <form id="login-form">
          <label for="username "><b>Email:</b></label>
          <input type="text" id="username" name="username"><br><br>


          <label for="password"><b>Password:</b></label>
          <input type="password" id="password" name="password"><br><br>
          <p><a class="link-opacity-10-hover" href="email.html">Forgot password?</a></p>
          <input type="submit" value="Log in">

        </form>
      </div>
    </div>

  </div>

  <div class="center-text">
    <p>Don’t have an account? <a class="link-opacity-10-hover" href="">Sign up</a></p>
    <p>Are you an employer? <a class="link-opacity-10-hover" href="">Sign up on Talent <i class="fa-solid "></i></a></p>

  </div>

</div>



{% endblock content %}