

    <!-- Navbar -->


    <div class="container">
        <div class="questions-index justify-content-center row">
            <div class="d-none d-md-block d-lg-block d-xl-block col-sm-2 col-md-2 col-lg-2 text-dark-emphasis p-4 fw-lighter align-items-center  fixed-top position-sticky">
                <button class="mb-3  border-0 bg-transparent">
                    <h6 class="text-dark-emphasis"><i class="fa-solid fa-house me-2" style="color: #000000;"></i>Home
                    </h6>
                </button>
                <ul class="list-unstyled text-dark-emphasis mb-3">
                    <h6>Global</h6>
                    <li class="mb-2"><a href=""
                            class="text-decoration-none text-dark-emphasis d-flex flex-row align-items-center"><i
                                class="fa-regular fa-comment me-2"
                                style="color: #000000;"></i><small>Sorular</small></a></li>
                    <li class="mb-2"><a href=""
                            class="text-decoration-none text-dark-emphasis d-flex flex-row align-items-center"><i
                                class="fa-solid fa-tags me-2" style="color: #000000;"></i><small>Etiketler</small></a>
                    </li>
                    <li class="mb-2"><a href=""
                            class="text-decoration-none text-dark-emphasis d-flex flex-row align-items-center"><i
                                class="fa-solid fa-users me-2"
                                style="color: #000000;"></i><small>Kullanıcılar</small></a></li>
                </ul>
                <ul class="list-unstyled text-dark-emphasis mb-3 ">
                    <h6>Gruplar</h6>
                    <li class="ms-3"><a href="" class="text-decoration-none text-dark-emphasis">
                            <p>Grupları Keşfet</p>
                        </a></li>
                </ul>
            </div>
            <div class="questions col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="titleTop justify-content-between row mb-3 ">
                    <div class="col-xs-12 col-sm-12 col-md-7 mt-3">
                        <a class="text-decoration-none text-dark fs-5 " href="#"><bold> Java getResource return null</bold></a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 mt-3 text-end">
                        <button type="button" class="btn btn-primary w-100">Ask Question</button>
                    </div>
                </div>
                <div class="titleBottom">
                    <span class="m-3 mt-5 fs-6">Asked today</span>
                    <span class="m-3 mt-5">Modified today</span>
                    <span class="m-3 mt-5">Viewed 10 times</span>
            
                </div>
                <hr>
                <div class="row m-3">
                    <div class="col-1 d-flex flex-column align-items-center">
                        <button type="button" class="btn btn-light border border-2 rounded-5"><i
                                class="fs-1 fa-solid fa-caret-up"></i></button>
                        <span class="m-3 fs-4">0</span>
                        <button type="button" class="btn btn-light border border-2 rounded-5"><i
                                class="fa-solid fa-caret-up fa-rotate-180 fs-1"></i></button>
                        <button type="button" class="btn btn-light m-3"><i
                                class="fs-4 fa-sharp fa-regular fa-bookmark"></i></button>
                        <a href=""><i class="fa-solid fa-clock-rotate-left text-dark "></i></a>
                    </div>
                    <div class="col-10">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fuga libero fugiat quas eaque, adipisci illo! Consequuntur inventore voluptate praesentium libero quaerat est dolores ab ex odit, vitae porro qui laboriosam voluptatibus incidunt a commodi quos saepe? Voluptates animi temporibus ipsam quisquam, vitae odit! Quam enim molestias non dignissimos recusandae aut repudiandae, esse, numquam at praesentium necessitatibus totam, distinctio fuga illum quibusdam laudantium ipsa cum magni facilis sint ab ipsam explicabo officia? Incidunt molestias at earum alias? Corporis ea neque fugit odio id officia aspernatur sequi accusamus, enim nihil architecto eaque corrupti atque tempore porro eius? Itaque rerum quam facilis.</p>
                        <a href="" class="fs-6 btn btn-info">javascript</a>
                        <div class="questionDetail mt-5 d-flex justify-content-between row">
                            <div class="linkContainer col-md-9">
                                <a class="text-decoration-none text-dark text-muted" href="">Share</a>
                                <a class="text-decoration-none text-dark text-muted" href="">Edit</a>
                                <a class="text-decoration-none text-dark text-muted" href="">Follow</a>
                            </div>
                            <div class="profileContainer col-md-3 d-flex justify-content-end">
                                <div class="w-75 profile p-2">
                                    <p>asked 7 mins ago</p>
                                    <span><a href="">username</a></span>
                                    <small>rating</small>
                                </div>
                            </div>
            
                        </div>
                        <a class="btn btn-light muted" href="">Add a comment</a>
                    </div>
                </div>
            
                <h6 class="m-3">Related questions</h6>
                <div class="related p-3">
                    <div class="relatedObject p-3 border border-2">
                        <span class="bg-success p-2 me-3 rounded-3 text-light">3432</span> <a class="text-decoration-none"
                            href="">Is Java "pass-by-reference" or "pass-by-value"</a>
                    </div>
                    <div class="relatedObject  p-3 border border-2">
                        <span class="bg-success p-2 me-3 rounded-3 text-light">3432</span> <a class="text-decoration-none"
                            href="">Is Java "pass-by-reference" or "pass-by-value"</a>
                    </div>
                    <div class="relatedObject  p-3 border border-2">
                        <span class="bg-success p-2 me-3 rounded-3 text-light">3432</span> <a class="text-decoration-none"
                            href="">Is Java "pass-by-reference" or "pass-by-value"</a>
                    </div>
                    <a class="d-flex justify-content-center text-decoration-none" href="">Load more question</a>
                </div>
            
                <div class="pageBottom p-3 ">
                    <p>Know someone who can answer? Share a link to this <a class="text-decoration-none" href="">question</a> via <a
                            class="text-decoration-none" href="">email, </a><a class="text-decoration-none" href="">Twitter</a> or
                        <a class="text-decoration-none" href="">Facebook</a> </p>
                    <h5>Your Answer</h5>
                    <textarea class="w-100" name="answer" id="answer" cols="30" rows="10"></textarea>
                    <button type="button" class="btn btn-primary mt-3">Post Your Answer</button>
                    <p class="mt-4">Browse other questions tagged <a class="bg-info p-1 text-decoration-none" href="">tags</a> or <a
                            class="text-decoration-none" href="">ask your own question.</a></p>
                </div>
            </div>


        </div>
    </div>




    <script src="https://kit.fontawesome.com/2a77d4b6e2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>



</html>