<div class="profile-top d-flex justify-content-center col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
  <div class="row d-flex justify-content-center align-items-center ">


    <div class=" justify-content-center align-items-center p-4">
      <div class="row text-black">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5 justify-content-center align-items-center">
          <img src="{{user.avatar.url}}" alt="{{user.display_name}}" class="img-fluid rounded-3 h-100 w-100">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-5 col-xxl-5">
          <h5 class="mb-1">{{user.display_name}}</h5>
          <p class="mb-2 pb-1" style="color: #2b2a2a;">Senior Journalist</p>
          <div class="row row-cols-2 d-flex justify-content-around rounded-3 p-2 mb-2"
            style="background-color: #efefef;">
            <div class="col">
              <p class="small  mb-1">Sorular</p>
              <p class="mb-0">41</p>
            </div>
            <div class="col">
              <p class="small  mb-1">Rozetler</p>
              <p class="mb-0">13</p>
            </div>
            <div class="col">
              <p class="small  mb-1">Takipçi</p>
              <p class="mb-0">{{followers_count}}</p>
            </div>
            <div class="col">
              <p class="small  mb-1">Rating</p>
              <p class="mb-0">8.5</p>
            </div>
          </div>
          <div class="d-flex pt-1">
            <a href="{% url 'edit_profile' %}" class="btn btn-light"><i class="fa-solid fa-pen"></i> Edit Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>

<div class="profile-d mt-5">
  <a href="{% url 'profile' user.user_uuid %}" class="btn btn-light rounded-pill">Profil</a>
  <a href="{% url 'activity' %}" class="btn btn-light rounded-pill ">Activity</a>
  <a href="{% url 'edit_profile' %}" class="btn btn-light rounded-pill">Settings</a>
</div>